# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Ludo - Prototype.iml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
